{% extends 'acceilwithoutlogin.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    
<div style= "margin-left:30%; ">
<h1 style="margin-left:5%; ">SIGNUP</h1>
    {{ include('patient/_form.html.twig') }}

</div>
    
{% endblock %}
