<form method="post" action="{{ path('app_medecin_unblock', {'idMed': medecin.idMed}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('bloc' ~ medecin.idMed) }}">
    <button class="btn">unbloc</button>
</form>