<form method="post" action="{{ path('app_rendez_vous_delete', {'idRd': rendez_vou.idRd}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rendez_vou.idRd) }}">
    <button class="btn">Delete</button>
</form>
