{% extends 'acceilpatient.html.twig' %}

{% block title %}Ajouter un nouveau RendezVous{% endblock %}

{% block body %}

    {{ include('rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>
{% endblock %}
