<form method="post" action="{{ path('app_intervention_delete', {'idInterv': intervention.idInterv}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intervention.idInterv) }}">
    <button class="btn">Delete</button>
</form>
