<form method="post" action="{{ path('app_ordonnance_delete', {'idOrdonnance': ordonnance.idOrdonnance}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ordonnance.idOrdonnance) }}">
    <button class="btn">Delete</button>
</form>
