<form method="post" action="{{ path('app_commande_web_delete', {'idComd': commande_web.idComd}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_web.idComd) }}">
    <button class="btn">Delete</button>
</form>
