{% extends 'acceilpatient.html.twig' %}

{% block title %}Edit CommandeWeb{% endblock %}

{% block body %}
    <h1>Edit Commande</h1>

    {{ include('commande_web/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commande_web_index') }}">back to list</a>

    {{ include('commande_web/_delete_form.html.twig') }}
{% endblock %}
