{% extends 'acceilpatient.html.twig' %}

{% block title %}New CommandeWeb{% endblock %}

{% block body %}
    <h1>Create new Commande</h1>

    {{ include('commande_web/_form.html.twig') }}

    <a href="{{ path('app_commande_web_index') }}">back to list</a>
{% endblock %}
